@use 'variables'

// if i remove this body selector the background goes white
// even though there are no css rules applied to this selector
body {
}

.App {
  background-color: #333333;
  height: 200vh;
}

.App-header {
  background-color: #4F4F4F;
  color: #F3CA3E;
  border: 2px solid #F3CA3E;
  border-left: none;
  border-right: none;
  // margin-top: 15px;
  width: 100%;
  // position: fixed;
  height: 10%;
}

h1 {
  margin: 10px;
}
