@import '../../variables';

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $accent-color;
  background-color: $header-background;
  height: 300px;
  margin: 30px;
  padding: 10px;
  text-align: center;
  width: 250px;

  &:hover {
    box-shadow: 5px 5px 5px $accent-color;
  }
  h2 {
    font-size: 2em;
    margin: 5px 0 10px 0;
  }

  h3 {
    font-size: 1.5em;
  }
}

.characters-btn {
  color: $accent-color;
  background-color: $header-background;
  border: 1px solid $accent-color;
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px $background-color;
  cursor: pointer;

  &:hover {
    color: $header-background;
    background-color: $accent-color;
  }
}
